<div class="page-content">
<div class="entry-content -cf">
	<Center><h1>EMPRESA</h1></Center>
	<h2>Compromiso</h2>
	Cada vez que utilizas o prescribes un producto Germaine de Capuccini “punto verde”, estás colaborando con el cuidado de nuestro entorno. Una parte del beneficio de cada producto puesto en el mercado va destinada a colaborar con una organización dedicada a mejorar el tratamiento de los residuos que entre todos generamos. Germaine de Capuccini rechaza tajantemente la experimentación con animales, realizando en sus laboratorios las pruebas necesarias para crear un producto con todas las garantías de seguridad:Contigo y con el medio ambiente.<br><br>
	Como empresa innovadora y vanguardista, Germaine de Capuccini es la primera empresa del sector cosmético que introduce el Sistema Integrado de Gestión. Una cuádruple certificación de calidad que integra:<br><br>
	
	<ul>
		<li><strong>Sistema de Gestión de Calidad ISO 9001:2000,</strong> que garantiza la calidad en cada proceso.</li>
		<li><strong>Sistema de Gestión Medioambiental ISO 14001,</strong> fruto de nuestro compromiso con el cuidado del medio ambiente.</li>
		<li><strong>Ley de Prevención de Riesgos laborales,</strong> porque velamos por la seguridad y salud de nuestro equipo humano.</li>
		<li><strong>Empresa Familiarmente Responsable,</strong> porque la familia es el pilar de de la sociedad.</li>
	</ul>
	<div class="block-divider">
	</div>
</div>
</div>
