<% provide(:title, 'En Bolivia') %>
<div class="page-content">
<div class="entry-content -cf">
			<center><H1>EMPRESA</H1></center>
			<H2>Germaine de Capuccini en Bolivia</H2>
			Germaine de capuccini , es una marca de calidad dedicada a los profesionales de la belleza, líder en el sector de la cosmética profesional.<br>
			
			Se dedica a la Investigación y desarrollo de productos cosméticos y de tratamientos específicos de aplicación, enfocados a la comercialización exclusiva en centros de belleza.<br><br>
			
			Nace el año 1964 cuando Carmen Vidal, una mujer luchadora, enérgica y vital, daba vida a su gran creación: Germaine de Capuccini. Los secretos de belleza aprendidos en Argel durante su infancia y las técnicas cosméticas adquiridas en París, habrían de convertirse en el estandarte de una de las empresas de cosmética profesional más importantes del mundo.<br><br>
			
			En 1983 comienza un proceso de expansión que nos ha llevado a estar presentes con nuestros productos y tratamientos en los 5 continentes. Presente en más de 70 países de todo el mundo confían en nuestra firma y en los mejores centros de estética del mundo , ahora llega a nuestro país nuevamente cargada de una serie de programas y líneas renovadas con bastantes novedades en cuanto a innovación y tecnología no alcanzada antes en el campo de la estética tanto facial como corporal.<br><br>

			El año 2009, Importadora M & S Bolivia fue invitada a convertirse en  representantes exclusivos para Bolivia, nombramiento que nos enorgullece dada la importancia y el renombre que lleva la marca a nivel mundial.
			Nuestra intención para Bolivia es coadyuvar a las profesionales de la belleza a desarrollar un trabajo competitivo y  efectivo con el uso de los diversos tratamientos existentes.<br><br></Center>
			<div class="block-divider">
			</div>
</div>
</div>
