<% provide(:title, 'I+D+I') %>
<div class="page-content">
<div class="entry-content -cf">
			<Center><h1>EMPRESA</h1></Center>
			<h2>I+D+i</h2>
 			Los más de 200 profesionales que formamos la plantilla de Germaine de Capuccini tenemos un compromiso en común: la calidad de todos nuestros productos.<br><br>
			Con este mismo compromiso, hemos creado nuestro departamento de I+D+i (Investigación, Desarrollo e Innovación) formado por expertos altamente cualificados en cosmética profesional que, en colaboración médico-esteticista, someten todos los productos y tratamientos de Germaine de Capuccini a rigurosos tests de eficacia y exhaustivos controles de calidad que garanticen su seguridad y resultados antes, durante y después de cada proceso.<br><br>
			<ul>
				<li>
					<strong>Un constante y dinámico esfuerzo en I+D (Investigación y Desarrollo):</strong>
				</li>
				<li>
					<strong>Innovación y Eficacia.</strong> Un equipo humano especializado y comprometido.
				</li>
				<li>
					<strong>Cualificación, Cercanía y Servicio.</strong> Formación e información escrita, audiovisual y presencial. Todo el apoyo que precisas para optimizar el resultado de cada tratamiento:
				</li>
				<li>
					<strong>Profesionalidad y Perfeccionamiento.</strong> Una autoexigencia que nos lleva a realizar nuestro trabajo bajo estrictos controles de calidad.
				</li>
				<li>
					<strong>Garantía y Seguridad</strong> Más de 16.000 metros cuadrados dotados de la más avanzada
					Tecnología: Eficiencia, Perfección y Calidad.
				</li>
				<li>
					<strong>Imagen y Rentabilidad.</strong> Innovadoras y eficaces técnicas de Marketing y Publicidad para dinamizar tus ventas
				</li>
			</ul>
			<div class="block-divider">
			</div>
</div>
</div>
