<% provide(:title, 'Editar Contacto') %>
<h1>Editing contact</h1>

<%= render 'form' %>

<%= link_to 'Ver', @contact, :class => "link-button blue" %> |
<%= link_to 'Volver', contacts_path, :class => "link-button" %>