<% provide(:title, 'Categoria') %>
<div class="page-content">
<div class="entry-content -cf">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @category.name %>
</p>

<%= link_to 'Editar', edit_category_path(@category), :class => "link-button blue" %> |
<%= link_to 'Volver', categories_path, :class => "link-button" %>


</div>
</div>
