<% provide(:title, 'Editar producto') %>
<CENTER><h1>Editar producto</h1>
<%= render 'form' %>

<%= link_to 'Ver', @product, :class => "link-button blue" %> 
<%= link_to 'Volver', products_path, :class => "link-button" %></CENTER>
