<h1>Todos los productos</h1>

        <ul class="nav-categories cf">
          <li class="current"><a href="#" >all</a></li>
          <li><a href="#" >print</a></li>
          <li><a href="#" >photography</a></li>
          <li><a href="#" >web design</a></li>
        </ul>
        <!-- ENDS categories -->
        <!-- work list -->
        <ul class="work-list cf" id="filter-container">
        <% @products.each do |product|%>  
          <li>
            <a href="project.html" class="thumb" >
              <img src="images/dummies/f-01.jpg" alt="Thumbnail" />
              <div class="img-overlay">VIEW PROJECT</div>
            </a>
            <a href="single.html"  class="title"><%=product.name%></a>
            
            <div class="categories"><a href="#" >webdesign, </a><a href="#" >print, </a><a href="#" >photo</a></div>
          </li>
        <% end %>          
        </ul>
        <!-- ENDS work list --> 

        <!-- pager -->
        <ul class="pager cf">
          <li class="paged">Page 1 of 4 </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
        <!-- ENDS pager -->








<%= link_to 'Crear Producto', new_product_path %>
