<HTML><br><br>
<br><!-- WIDGETS -->
  <ul  class="widget-cols cf">
    
    <li class="first-col">      
      <div class="widget-block">
        <h4>DIRECCIONES:</h4>
        <STRONG><p>Cochabamba:<br></STRONG>
        MYS Bolivia: Calle Aniceto Padilla No 219<br>
        Lic. Mirtha Lozada de Quitón<br>
        e-mail: contactos@germaine-de-capuccini.com.bo<br> 
        Telf.:(4) 4200211 
        Cel.: 774 19518<br>
        <STRONG>La Paz:<br> </STRONG>
        Telf.:(2) 2432556 
        Cel.: 701 30070<br>
        <STRONG>Santa Cruz:<br> </STRONG>
        Telf.:(3) 571495 
        Cel.: 760 88733</p>
      </div>
    </li>      






    <li class="thirth-col">
    <div class="widget-block">
    <iframe width="560" height="315" src="//www.youtube.com/embed/t75Ec9jigQI?rel=0" frameborder="0" allowfullscreen></iframe>
    </div>
    </li>
    <li class="thirth-col">
      <div class="widget-block">
        <!--h4>CATEGORIES</h4>
        <ul>
          <li class="cat-item"><a href="#" >Design</a></li>
          <li class="cat-item"><a href="#" >Photo</a></li>
          <li class="cat-item"><a href="#" >Art</a></li>
          <li class="cat-item"><a href="#" >Game</a></li>
          <li class="cat-item"><a href="#" >Film</a></li>
          <li class="cat-item"><a href="#" >TV</a></li>
        </ul>
        <Center><a href="https://www.google.com/maps/place/Aniceto+Padilla/@-17.378194,-66.1571028,17z/data=!4m2!3m1!1s0x93e37411b43d1a09:0xa67e0fd74eee9107"><img id="map_image" src="https://maps.googleapis.com/maps/api/staticmap?center=Aniceto+Padilla,Bo&zoom=16&size=300x300&sensor=false"/></a><br>VISITANOS!</Center>
      </div>
    </li-->
    <li class="scroll"></li>
  </ul>
<!-- ENDS WIDGETS -->
  
<!-- FOOTER -->
  <div class="footer-divider"></div>
  <footer class="cf">
  </footer>
<!-- ENDS FOOTER -->
</HTML>