<br><br>
<br><!-- WIDGETS -->
  <ul  class="widget-cols cf">
    
    <li class="first-col">      
      <div class="widget-block">
        <h4>DIRECCIONES</h4>
        <p>Cochabamba:<br>
        MYS Bolivia: Calle Aniceto Padilla No 219
        Lic. Mirtha Lozada de Quitón
        e-mail: contactos@germaine-de-capuccini.com.bo<br> 
        Telf.:(4) 4200211 
        Cel.: 774 19518<br>
        La Paz:<br> 
        Telf.:(2) 2432556 
        Cel.: 701 30070<br>
        Santa Cruz:<br> 
        Telf.:(3) 3489497 
        Cel.: 72128139</p>
      </div>
    </li>        
    <!--<li class="thirth-col">
      <div class="widget-block">
        <h4>CATEGORIES</h4>
        <ul>
          <li class="cat-item"><a href="#" >Design</a></li>
          <li class="cat-item"><a href="#" >Photo</a></li>
          <li class="cat-item"><a href="#" >Art</a></li>
          <li class="cat-item"><a href="#" >Game</a></li>
          <li class="cat-item"><a href="#" >Film</a></li>
          <li class="cat-item"><a href="#" >TV</a></li>
        </ul>
      </div>
    </li>-->
    <li class="scroll"></li>
  </ul>
<!-- ENDS WIDGETS -->

<!-- FOOTER -->
  <div class="footer-divider"></div>
  <footer class="cf">
    Desarrollado por: <a href="http://www.facebook.com/andres.jordan.zeballos">Andres</a> y <a href="http://www.facebook.com/oscar.sgc">Oscar</a> - Copyright ©2014. 
  </footer>
<!-- ENDS FOOTER -->
  
