<!-- HEADER -->
      <header class="cf">
        <div id="logo"><a href="/"><img src="/images/logo2.jpg" alt="Madison Template" /></a></div>
        
        <!-- social-bar -->
        <ul id="social-bar" class="cf">
          
          <li class="facebook"><a href="https://www.facebook.com/germainedecapucciniesp"  title="Facebook" ></a></li>
          <li class="googleplus"><a href="https://plus.google.com/+Germaine-de-capuccini/posts"  title="googleplus" ></a></li>
          <li class="twitter"><a href="https://twitter.com/Germaine_Esp"  title="twitter" ></a></li>
        </ul>
        <!-- ENDS social-bar -->
        
      </header>
      <!-- ENDS HEADER -->
      
      <!-- NAV -->
      <nav class="cf">
        <ul id="nav" class="sf-menu">
          <li><a href="#">PRODUCTOS</a>
            <ul>
              <li><a href="/products/filter_by/Rostro">Rostro</a></li>
              <li><a href="/products/filter_by/Cuerpo">Cuerpo</a></li>
              <li><a href="/products/filter_by/Nutricosmetica">Nutricosmetica</a></li>
              <li><a href="/products/filter_by/Cosmetica Organica">Cosmetica Organica</a></li>
              <li><a href="#">Maquillaje</a></li>
              <li><a href="#">Cosmeceutica</a></li>
              <li><a href="#">Depilacion</a></li>
              <li><a href="#">Fragancia</a></li>
            </ul>
          </li>
          <li><a href="#">SOLAR</a>
            <ul>
              <li><a href="#">Cuidado pre-post solar</a></li>
              <li><a href="#">Autobronceadores</a></li>
              <li><a href="#">Proteccion global</a></li>
              <li><a href="#">Despues del sol</a></li>
              <li><a href="#">Maquillaje solar</a></li>
              <li><a href="#">En cabina</a></li>
            </ul>
          </li>
          <li><a href="#">FOR MEN</a>
            <ul>
              <li><a href="#">Afeitado</a></li>
              <li><a href="#">Hidratacion</a></li>
              <li><a href="#">Anti-edad</a></li>
              <li><a href="#">Anti-fatiga</a></li>
              <li><a href="#">Corporal</a></li>
              <li><a href="#">Fragancia</a></li>
              <li><a href="#">En cabina</a></li>
            </ul>
          </li>
          <li><a href="#">SPA</a>
            <ul>
              <li><a href="http://www.sperience.eu">Vivi un momento de autenticas sensaciones</a></li>
            </ul>
          </li>
          <li><a href="/microposts">NOTICIAS/NOVEDADES</a></li>
          <!--li><a href="#">BLOG PROFESIONAL</a></li-->
          <li><a href="#">EMPRESA</a>
            <ul>
              <li><a href="/germanine-de-capuccini-en-bolivia">Germaine de Capuccini En Bolivia</a></li>
              <li><a href="/idi">I+D+I</a></li>
              <li><a href="/compromiso">Nuestro compromiso</a></li>
            </ul>
          </li>
          <li class="important"><a href="/contacts/new">CONTACTO</a></li>
        </ul>
      </nav>
