<!-- HEADER -->
      <header class="cf">
        <div id="logo"><a href="/"><img src="/images/logo1.png" width="280" alt="Madison Template" /></a></div>
        
        <!-- social-bar -->
        <ul id="social-bar" class="cf">
          
          <li class="facebook"><a href="https://www.facebook.com/germainedecapucciniesp"  title="Facebook" ></a></li>
          <li class="googleplus"><a href="https://plus.google.com/+Germaine-de-capuccini/posts"  title="googleplus" ></a></li>
          <li class="twitter"><a href="https://twitter.com/Germaine_Esp"  title="twitter" ></a></li>
        
        <!-- ENDS social-bar -->
        
        </ul>
        
        <%if current_user%>
        <p align="right"><a href="/logout" class="link-button">Cerrar Sesion</a></p>
        <%end%>
      </header>
      <!-- ENDS HEADER -->
      
      <!-- NAV -->
      <nav class="cf">
        <ul id="nav" class="sf-menu">
          <li><a href="/">INICIO</a></li>
          <li><a href="#">PRODUCTOS</a>
            <ul>
              <li><a href="/products/filter_by/Hidratacion">Hidratacion</a></li>
              <li><a href="/products/filter_by/Anti Edad Global">Anti Edad Global</a></li>
              <li><a href="/products/filter_by/Anti Arrugas">Anti Arrugas</a></li>
              <li><a href="/products/filter_by/Lifting-Firmeza">Lifting / Firmeza</a></li>
              <li><a href="/products/filter_by/Anti Manchas">Anti Manchas</a></li>
              <li><a href="/products/filter_by/Nutricion">Nutricion</a></li>
              <li><a href="/products/filter_by/Luminosidad-Vitalidad">Luminosidad / Vitalidad</a></li>
              <li><a href="/products/filter_by/Piel Grasa">Piel Grasa</a></li>
              <li><a href="/products/filter_by/Piel Impura">Piel Impura</a></li>
              <li><a href="/products/filter_by/Piel Sensible">Piel Sensible</a></li>
              <li><a href="/products/filter_by/Facial Universo Options">Facial Universo Options</a></li>
              <li><a href="/products/filter_by/Corporal Perfect Forms">Corporal Perfect Forms</a></li>
            </ul>
          </li>
          <li><a href="#">SOLAR</a>
            <ul>
              <li><a href="/products/filter_by/Proteccion Global">Proteccion Global</a></li>
              <li><a href="/products/filter_by/Maquillaje Solar">Maquillaje solar</a></li>
            </ul>
          </li>
          <li><a href="#">FOR MEN</a>
            <ul>
              <li><a href="/products/filter_by/Hidratacion-M">Hidratacion</a></li>
              <li><a href="/products/filter_by/Anti-Edad">Anti-Edad</a></li>
              <li><a href="/products/filter_by/Anti-Fatiga">Anti-Fatiga</a></li>
              <li><a href="/products/filter_by/En Cabina-M">En cabina</a></li>
            </ul>
          </li>
          <%if !current_user%>
          <li><a href="#">SPA</a>
            <ul>
              <li><a href="/products/filter_by/Sperience Naturae">Sperience Naturae</a></li>
              <li><a href="/products/filter_by/Sperience Delicatessen">Sperience Delicatessen</a></li>
              <li><a href="/products/filter_by/Sperience Privilege">Sperience Privilege</a></li>
            </ul>
          </li>
          <%end%>
          <li><a href="/microposts">NOTICIAS/NOVEDADES</a></li>
          <%if !current_user%>
          <li><a href="#">EMPRESA</a>
            <ul>
              <li><a href="/germanine-de-capuccini-en-bolivia">Germaine de Capuccini En Bolivia</a></li>
              <li><a href="/idi">I+D+I</a></li>
              <li><a href="/compromiso">Nuestro compromiso</a></li>
            </ul>
          </li>
          <li class="important"><a href="/contacts/new">CONTACTO</a></li>
          <%end%>
          <%if current_user%>
            <li><a href="/products/new">CREAR PRODUCTO</a></li>
            <li><a href="/microposts/new">CREAR POST</a></li>
            <li><a href="/contacts">SUGERENCIAS</a></li>
          <% end %>
        </ul>
      </nav>
